@model ProjectA.Models.ProductModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var categories = ViewBag.Categories as IEnumerable<ProjectA.Models.CategoryModel>;
}


<div class="page-wrapper">
    <div class="page-content-tab">
        <form method="post" enctype="multipart/form-data">
            <div class="row">

                <div class="col-lg-12 col-xxl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="app-product-section">
                                <h1>Edit Product</h1>
                                <div class="main-title">
                                    <h6>General Information</h6>
                                </div>
                                <div>
                                    <div class="app-form">
                                        <div class="mb-3">
                                            <label class="form-label">ID</label>
                                            <input type="text" class="form-control" value="@Model.Id" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Product Name</label>
                                            <input type="text" class="form-control" asp-for="Name"value="@Model.Name">
                                        </div>
                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Category name</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01" asp-for="CategoryId">

                                                @foreach (var item in categories)
                                                {
                                                    <option value="@item.Id" >@item.Name</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Product Short Description</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" asp-for="ShortDescription"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Product Detail</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Description"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="app-divider-v dashed"></div>





                                <div class="app-divider-v dashed"></div>

                                <div class="main-title">
                                    <h6>Inventory</h6>
                                </div>

                                <div>
                                    <div class="app-form">
                                        <div class="row">


                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Unit</label>
                                                    <input type="text" class="form-control" asp-for="Unit">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Quantity</label>
                                                    <input type="text" class="form-control" asp-for="InStock">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="app-divider-v dashed"></div>

                            </div>
                            <div class="app-product-section">
                                <div class="main-title">
                                    <h6>Product Media</h6>
                                </div>


                                <div class="preview">

                                    <input accept="image/*" class="app-file-upload addproduct file-input" type="file"
                                           id="addProduct" multiple="multiple" data-allow-reorder="true" asp-for="Image">
                                    <img id="img-preview" src="~/uploadImages/@Model.Image" />
                                </div>
                                <div class="app-divider-v dashed"></div>
                                <div class="main-title">
                                    <h6>Pricing</h6>
                                </div>

                                <div class="app-form">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Price</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text b-r-left" id="basic-addon1">$</span>
                                                    <input type="text" class="form-control b-r-right" aria-label="Username"
                                                           aria-describedby="basic-addon1" asp-for="Price">
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="app-divider-v dashed"></div>



                                <div class="app-divider-v dashed"></div>


                            </div>
                            <div class="col-12">
                                <div class="mt-4 d-flex justify-content-end gap-2 flex-column flex-sm-row text-end">
                                    <a class="btn btn-light-secondary" asp-action="ProductList" asp-controller="Admin">Discard</a>
                                    <button class="btn btn-primary" type="submit">Edit Product</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </form>

    </div>


</div>


