<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mannatthemes.com/unikit/default/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2024 02:48:13 GMT -->
<head>


    <meta charset="utf-8" />
    <title>Health-care Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon" />



    <!-- App css -->
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/MyCss.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.ckeditor.com/4.22.1/full/ckeditor.js"></script>
</head>

<body id="body" class="dark-sidebar">
    <!-- leftbar-tab-menu -->
    <div class="left-sidebar">
        <!-- LOGO -->
        <div class="brand">
            <a href="#" class="logo">
                <span>
                    <img src="~/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                </span>
                <span>
                    <img src="~/assets/images/logo.png" alt="logo-large" class="logo-lg logo-light">
                    <img src="~/assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
                </span>
            </a>
        </div>
        
       
        <!-- Tab panes -->
        <!--end logo-->
        <div class="menu-content h-100" data-simplebar>
            <div class="menu-body navbar-vertical">
                <div class="collapse navbar-collapse tab-content" id="sidebarCollapse">
                    <!-- Navigation -->
                    <ul class="navbar-nav tab-pane active" id="Main" role="tabpanel">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="DashBoard" asp-controller="Admin">
                                <i class="ti ti-stack menu-icon"></i>
                                <span>Dashboard</span>
                            </a>

                        </li><!--end nav-item-->
                        <li class="nav-item">

                            <a class="nav-link" asp-action="ProductList" asp-controller="Admin">
                                <i class="fas fa-clipboard-list menu-icon"></i><span>Product List</span>
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" asp-action="CategoryList" asp-controller="Admin">
                                <i class="fas fa-clipboard-list menu-icon"></i><span>Category List</span>
                            </a>
                        </li>
                    </ul><!--end nav-->
                </div><!--end sidebarAnalytics-->
               

                
                
            </div><!--end sidebarCollapse-->
        </div>
    </div>
    </div>
    <!-- end left-sidenav-->
    <!-- end leftbar-menu-->
    <!-- Top Bar Start -->
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- Navbar -->
        <nav class="navbar-custom" id="navbar-custom">
            <ul class="list-unstyled topbar-nav float-end mb-0">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="~/assets/images/flags/us_flag.jpg" alt="" class="thumb-xxs rounded">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><img src="~/assets/images/flags/us_flag.jpg" alt="" height="15" class="me-2">English</a>
                    </div>
                </li><!--end topbar-language-->

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i class="ti ti-mail"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">

                        <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                            Emails <span class="badge bg-soft-primary badge-pill">3</span>
                        </h6>

                        <!-- All-->

                    </div>
                </li>



                <li class="dropdown">
                    <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <div class="d-flex align-items-center">
                            <img src="~/assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle me-2 thumb-sm" />
                            <div>
                                <small class="d-none d-md-block font-11">Admin</small>
                                <span class="d-none d-md-block fw-semibold font-12">
                                    Maria Gibson <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Home"><i class="fa fas fa-home align-text-bottom"></i> Home</a>
                        <a class="dropdown-item" asp-action="AccountDetails" asp-controller="Admin"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>
                        
                        <div class="dropdown-divider mb-0"></div>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Admin"><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</a>
                    </div>
                </li><!--end topbar-profile-->
                <li class="notification-list">
                    <a class="nav-link arrow-none nav-icon offcanvas-btn" href="#" data-bs-toggle="offcanvas" data-bs-target="#Appearance" role="button" aria-controls="Rightbar">
                        <i class="ti ti-settings ti-spin"></i>
                    </a>
                </li>
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">
                <li>
                    <button class="nav-link button-menu-mobile nav-icon" id="togglemenu">
                        <i class="ti ti-menu-2"></i>
                    </button>
                </li>
                
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->
    <!-- Top Bar End -->

    @RenderBody()

    <!-- end page-wrapper -->
    <!-- Javascript  -->
    <script src="~/assets/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/pages/ecommerce-index.init.js"></script>
    <script src="~/assets/pages/analytics-index.init.js"></script>
    <!-- App js -->
    <script src="assets/plugins/tobii/tobii.min.js"></script>
    <script src="~/assets/js/jquery-3.6.3.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/vendor/trumbowyg/trumbowyg.min.js"></script>
    <script src="~/assets/js/addProduct.js"></script>
    <script src="~/assets/js/myscript.js"></script>
 
    
    <script>
        const tobii = new Tobii()
    </script>
    
</body>
<!--end body-->
<!-- Mirrored from mannatthemes.com/unikit/default/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2024 02:48:40 GMT -->
</html>